/* The Parson's Table
designed by Meaghan Murray
developed by Hannah Murray */
@font-face {
  font-family: 'Adamina';
  font-style: normal;
  font-weight: 400;
  src: local("Adamina"), local("Adamina-Regular"), url(http://themes.googleusercontent.com/static/fonts/adamina/v5/frs4nX1GnurwzHktbp1qJALUuEpTyoUstqEm5AMlJo4.woff) format("woff");
}

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: local("Muli"), url(http://themes.googleusercontent.com/static/fonts/muli/v5/minRpKQdEvXRRS8oAbAtWvesZW2xOQ-xsNqO47m55DA.woff) format("woff");
}

@font-face {
  font-family: 'PFDinTextCondPro-Medium';
  font-style: normal;
  font-weight: 400;
  src: local("PFDinTextCondPro-Medium"), url(fonts/PFDinTextCondPro-Medium.ttf) format("ttf");
}

/* line 28, scss/styles.scss */
html {
  color: #414042;
}

/* line 32, scss/styles.scss */
body {
  background-color: #f1e8d5;
  width: 960px;
  margin: 0 auto !important;
}

/* line 39, scss/styles.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 43, scss/styles.scss */
.clearfix:after {
  clear: both;
}

/* line 46, scss/styles.scss */
.clearfix {
  *zoom: 1;
}

/* line 50, scss/styles.scss */
.group {
  margin: 0 auto;
  max-width: 90em;
  width: 93.75%;
}

/* line 56, scss/styles.scss */
header {
  text-align: center;
  margin-top: 3%;
}

/* line 61, scss/styles.scss */
.top {
  text-transform: uppercase;
  text-align: center;
  font-family: "Adamina";
  font-size: 14px;
  letter-spacing: .5px;
  margin-top: 4%;
  border-bottom: double #414042;
  padding-bottom: 1%;
}
/* line 70, scss/styles.scss */
.top a {
  text-decoration: none;
  margin: 0 3.36% 0 3.36%;
  color: #414042;
}

/* line 77, scss/styles.scss */
.homepage {
  text-align: center;
  border-bottom: double #414042;
}

/* line 82, scss/styles.scss */
.slideshow {
  padding-top: 1%;
  height: 466px;
}

/* line 87, scss/styles.scss */
.callout {
  font-family: "Adamina";
  font-size: 11px;
  padding-top: 4%;
  margin: 0 auto;
  letter-spacing: .5px;
  line-height: 19px;
  padding-bottom: 1%;
  max-width: 625px;
}

/* line 98, scss/styles.scss */
.callout__footer {
  padding-top: 1%;
  height: 55px;
}

/* line 103, scss/styles.scss */
footer {
  padding: 3%;
}
/* line 105, scss/styles.scss */
footer article {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  width: 33%;
  float: left;
  padding-left: 5%;
}
/* line 113, scss/styles.scss */
footer article p {
  font-family: "Adamina";
  font-size: 11px;
  line-height: 6px;
  letter-spacing: .5px;
}
/* line 118, scss/styles.scss */
footer article p a {
  text-decoration: none;
  color: #414042;
}
/* line 123, scss/styles.scss */
footer article a {
  text-decoration: none;
}
/* line 128, scss/styles.scss */
footer header h1 {
  text-align: left;
  text-transform: uppercase;
  font-family: "Adamina";
  font-size: 12px;
}

/* line 137, scss/styles.scss */
.button {
  font-family: "PFDinTextCondPro-Medium";
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #f1e8d5;
  background-color: #414042;
  display: inline;
  padding: 4px 11px 3px 11px;
  vertical-align: middle;
}
/* line 147, scss/styles.scss */
.button:hover {
  color: #414042;
  background-color: #f1e8d5;
}

/* line 153, scss/styles.scss */
.social {
  display: inline;
  padding-left: 6px;
}
/* line 156, scss/styles.scss */
.social a {
  padding-left: 2px;
}

/* line 161, scss/styles.scss */
.fa {
  color: #414042;
  height: 17px;
}
/* line 164, scss/styles.scss */
.fa.fa-facebook:hover {
  color: #3B5998;
}
/* line 167, scss/styles.scss */
.fa.fa-twitter:hover {
  color: #00ACED;
}
/* line 170, scss/styles.scss */
.fa.fa-instagram:hover {
  color: #517FA4;
}

/* line 175, scss/styles.scss */
.alpha {
  border-right: 1px solid #414042;
}

/* line 179, scss/styles.scss */
.omega {
  float: right;
  border-left: 1px solid #414042;
}
